a {
    color: #3498DB;
}

a:hover {
    color: #375a7f;
}

/* .container {
    max-width: 800px;
} */

/* Date picker formatting  */

[type="date"] {
    background: #fff url(calendar.png) 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

label {
    margin-top: 8px;
    float: left;
}

input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 190px;
    height: 32px;
    margin-left: 10px;
    margin-top: 3px;
}

form {
    background-color: #FFF;
    height: 600px;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px;
    text-align: center;
}

/* Pagination navbar formatting */

#apply_button {
    /* margin-bottom: 10px; */
    margin-left: 10px;
    margin-right: 40px;
}

/* .btn-xs{
    font-size: 0.8em;
} */

hr {
    margin: 12px;
}

.page-link {
    color: #3498DB;
    background-color: transparent;
    border-color: #3498DB
}

.page-link:hover {
    color: #375a7f;
    background-color: transparent;
    border-color: #375a7f
}


.page-item.active .page-link {
    color: #3498DB;
    background-color: transparent;
    background-image: none;
    border-color: #3498DB;
    border-width: 1px;
    border-radius: 4px;
}

.page-item.disabled .page-link {
    color: #3498DB;
    background-color: transparent;
    border-color: #3498DB
}

.justify-center {
    text-align: center;
}

pre {
    font-family: "Lato";
    --font-family-sans-serif: "Lato";
    font-size: 1rem;
    margin-bottom: 0;
}